snippet lr
	linear regression
snippet eml
	_Elements of Statistical Machine Learning
snippet ml
	machine learning
snippet nb
	Naive Bayes
snippet svm
	support vector machine
snippet nn
	neural network
snippet dt
	decision tree
snippet rf
	random forest
snippet logr
	logistic regression
